<div class="form-group">
    <label for="camera-select">Camera View:</label>
    <select id="camera-select" class="form-control auto-update">
        <option value="cam_top" {% if default_camera == 'cam_top' %}selected{% endif %}>
            Top Camera
        </option>
        <option value="cam_side_l" {% if default_camera == 'cam_side_l' %}selected{% endif %}>
            Left Side Camera
        </option>
        <option value="cam_side_r" {% if default_camera == 'cam_side_r' %}selected{% endif %}>
            Right Side Camera
        </option>
    </select>
</div>
<small id="valid-frames-count" class="text-info mt-1">
    Frames: {{ valid_frames|length }} frames / 
</small>