
<div class="col-lg-6">
    <div class="visualization-container">
        <h3>CNOS Visualization</h3>
        <div id="cnos-loading" class="loading d-none">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="cnos-error" class="error-message d-none"></div>
        <img id="cnos-image" class="visualization-image" src="" alt="CNOS Visualization">
        <div id="cnos-data" class="data-info">
            <p>Click 'Update Visualizations' to load data.</p>
        </div>
    </div>
</div>