<div class="col-lg-6">
    <div class="visualization-container">
        <h3>Optical Flow Data</h3>
        <div id="flow-loading" class="loading d-none">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="flow-error" class="error-message d-none"></div>
        <img id="flow-image" class="visualization-image" src="" alt="Flow Visualization">
        <div id="flow-data" class="data-info">
            <p>Click 'Update Visualizations' to load data.</p>
        </div>
    </div>
</div>