{% extends "/components/base.html" %}

{% block content %}
    <h1 class="text-center mb-4">Data Loader Visualization</h1>
    
    {% include 'components/control_panel.html' %}
    
    <!-- Visualizations Row -->
    <div class="row">
        {% include 'components/flow_visualization.html' %}
        {% include 'components/cnos_visualization.html' %}
    </div>
        
        <!-- Evaluation Data Row -->
    <div class="row mt-4">
        {% include 'components/evaluation_data.html' %}
        {% include 'components/detection_graph.html' %}
    </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/api-service.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualization-ui.js') }}"></script>
{% endblock %}